@use "variables" as *;

.bagpipe {
  &-container {
    text-align: center;
    margin: 2rem 0;
    overflow: hidden;
    cursor: pointer;

    &-img {
      width: 200px;
      transition: transform $transition-medium;
      border: 8px solid transparent;
      box-shadow: $shadow-medium;
      border-radius: $border-radius-medium;

      &:hover {
        transform: scale(1.05);
      }
    }

    p {
      text-align: center;
      font-style: italic;
      margin-top: 1rem;
    }
  }

  &-parchment {
    @extend .parchment !optional;
    max-width: 800px;

    .initial {
      font-size: 2rem;
      float: left;
      line-height: 1;
      margin-right: 5px;
      color: $primary-color;
    }
  }
}
